{% extends 'password_generation/base.html' %}
{% block content %}
<header class="navigation container">
    <nav>
        <ul class="nav bg-navi">
            <li class="nav-item first-item"><a href="{% url 'password' %}">HOME</a></li>

            <li class="nav-item "><a href="{% url 'context' %}">ABOUT US</a></li>
            <li class="nav-item "><a href="{% url 'context' %}">OUR MISSION</a></li>

            <li class="nav-item last-item"><a href="/js/">SUPPORT</a></li>
        </ul>
    </nav>
</header>
<div class="page-wrapper">
    <div class="page page-home">
        <h1>PASSWORD GENERATION</h1>
        <form action="/password">
            <input type="text" name="name" placeholder="Anna Polivanova">
            <br>
            <input type="email" name="email" placeholder="example@gmail.com">
            <br>
            <select name="length">
                <option value="6">6</option>
                <option value="8">8</option>
                <option value="10" selected="selected">10</option>
                <option value="12">12</option>
                <option value="14">14</option>
                <option value="16">16</option>
                <option value="18">18</option>
                <option value="20">20</option>
            </select>
            <br>
            <input type="checkbox" name="uppercase"> <<< UPPERCASE
            <br>
            <input type="checkbox" name="numbers"> <<< NUMBERS
            <br>
            <input type="checkbox" name="special"> <<< SPECIAL CHARACTERS
            <br>
            <input type="submit" value="GENERATOR">
        </form>
    </div>
</div>
<div class="help-text">
    {{ error }}
</div>
<div class="info-text">
    {{ quantity }}
</div>
<footer>
    <p>Author: Anna Polivanova</p>
    <p><a href="easppolivanova@gmail.com">easppolivanova@gmail.com</a></p>
</footer>
{% endblock %}
