{% extends 'password_generation/base.html' %}
{% block content %}
<header class="navigation">
    <nav>
        <a href="/html/">HTML</a> |
        <a href="/css/">CSS</a> |
        <a href="/js/">JavaScript</a> |
        <a href="/python/">Python</a>
    </nav>
</header>
<div class="page page-home">
    <h1>PASSWORD</h1>
    <br>
    <h1>{{ password }}</h1>
    <a href="{% url 'home' %}">HOME</a>
</div>
<footer>
    <p>Author: Hege Refsnes</p>
    <p><a href="mailto:hege@example.com">hege@example.com</a></p>
</footer>
{% endblock %}