{% extends 'password_generation/base.html' %}
{% block content %}
<header class="navigation container">
    <nav>
        <ul class="nav bg-navi">
            <li class="nav-item"><a href="/html/">HOME</a></li>
            |
            <li class="nav-item"><a href="/css/">ABOUT US</a></li>
            |
            <li class="nav-item"><a href="/js/">SUPPORT</a></li>
            |</ul>
    </nav>
</header>
<div class="page page-home">
    <h1>PASSWORD</h1>
    <br>
    <h1>{{ password }}</h1>
    <a href="{% url 'home' %}">HOME</a>
</div>
<footer>
    <p>Author: Anna Polivanova</p>
    <p><a href="easppolivanova@gmail.com">easppolivanova@gmail.com</a></p>
</footer>
{% endblock %}