body {
    background-color: #dddddd;
}
body a {
    color: red;
}
.page {
    width: 800px;
    margin: 0 auto;
    min-height: 500px;
}
footer {
    text-align: center;
    color: brown;
}
footer a {
    color: brown;
}

.help-text{
    color: red;
}
.password{
    color: #6666;
}